<div>
  <h3 class="mt-3">All of the events should show below</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Time</th>
        <th>Address</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of eventList | async">
        <td>{{event.name}}</td>
        <td>{{event.date}} </td>
        <td>{{event.time}}</td>
        <td>{{event.location}}</td>
        <td>

        </td>
      </tr>
    </tbody>
  </table>

</div>
